<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="com.ctrange.colochess.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Hexagonpro"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:replace="android:theme">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".characters.Character_Page"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acount.Accept_Conditions"
            android:exported="false"
            android:label="Accept Conditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acount.Forgot"
            android:exported="false"
            android:label="Forgot Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acount.SignUp"
            android:exported="false"
            android:label="Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acount.LoginActivity"
            android:exported="false"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transaction.Transaction_Status"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".sdkoffers.Offers_Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".profile.Profile"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".offers_trans.Offers_Transaction_Status"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.tapjoy.TJAdUnitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tapjoy.TJContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />


        <provider
            android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"
            android:authorities="${applicationId}.IronsourceLifecycleProvider" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    </application>

</manifest>